html, body {
	height: 100%;
}

body {
  /* Reqired to prevent Navbar to overlap Map*/
  padding-top: 50px;
}


#mapDiv {
	/* Required for correctly sizing mapDiv full page*/
	height: 100%
}

/* Once required by started leaflet template: can be safely deleted*/
/*
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
*/
